.TrendingMovies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.TrendingMovies > h1 {
    /* text-4xl font-bold */
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}